*{
margin: 0;
padding: 0;
}
.green {
  background-color: #02908B;
  height: 65px;
position: fixed;
width: 100%;
}
ul.navbar li {
  display: inline-block;
  padding: 17px 20px;
  font-family: monospace;
  font-size: 18px;
  color: white;


}
li.right {
  float: right;
  margin-right: 25px;
  margin-top: 10px;


}
li a {
  color: white;
  text-decoration: none;
  vertical-align:text-top;
}
li span {
  color: #CFC91D;
}
ul li.left {
  font-size: 30px;
  font-weight: bold;
}
.second {
  text-align: center;
  height: 520px;
  width: 100%;
  padding-top: 13%;
  background-image: url(../img/maninsuit.png);
  color: white;

  line-height: .5;

}
.second h1 {
  font-size: 85px;

}
.second h2 {
  font-size: 30px;
}
.second h5 {
  font-size: 22px;
}
.second i {
  font-size: 50px;

}
.second a {
  background-color: #CDC71D;
  border: none;
  border-radius: 10px;
  color: #0B1016;
  display: inline-block;
  margin: 10px 0 75px 0;
  padding: 15px 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}
.about {
  text-align: center;
  padding-top: 15px;
}
.about h1 {
  color: #4EB2AF;
  font-size: 45px;
  font-weight: 900;
}
.about i {
  color: #AFB2B5;
  font-weight: lighter;
  font-size: 120px;
  padding-bottom: 20px;
  margin-bottom: 10px;
  line-height: .2;
}
.about p {
  color: #7E8287;
  font-size: 18px;
  line-height: 1.7;
}
.about strong {
  font-size: 25px;
}
.aboutBoxes {
	color: #7e8287;
    margin: 0 auto;
    width: 80%;
}

.aboutBox {
    border-right: 1px solid black;
	float: left;
    margin: 3% 0;
    padding: 0 4%;
    width: 16%;
}

.aboutBox h2 {
	font-size: 18px;
}

.aboutBox p {
	font-size: 11px;
	font-weight: bold;
}

.aboutBox i {
	color: #02918c;
}

.aboutBox:last-child {
	border: none;
}

#service {
	background-image: url(../img/service.png);
	background-size: cover;
	display: inline-block;
	padding-left: 10%;
}

.serviceWrapper {
	width: 40%;
}

#service img {
	margin: 15px 0;
}

.serviceWrapper > p {
    color: #7e8287;
	line-height: 41px;
}

.serviceBox {
	float: left;
    width: 40%;
    color: #7e8287;
}

.serviceBox.left {
	margin-left: 15%;
}

.serviceBox i {
	color:  #02918c;
	margin: 5px 0;
}

.serviceBox h2 {
	font-size: 18px;
	margin: 10px 0;
}

.serviceBox > p {
	font-size: 11px;
	font-weight: bold;
	margin: 15px 0;
}

#contact {
	padding-bottom: 0;
	text-align: center;
}

#contact img {
	margin: 15px 0;
}

#contact p {
    color:  #7e8287;
	line-height: 41px;
	width: 53%;
    margin: 0 auto 5%;
}

.contactForm {
	background: #0B0B0B;
	color: #7D8186;
	padding: 50px 25px;
}

.contactForm input {
	background: transparent;
	border: none;
	border-bottom: 1px solid #7D8186;
	color:#7D8186;
	font-size: 24px;
	height: 30px;
	text-align: center;
	width: 60%;
}

.contactForm textarea {
	background: transparent;
	border: none;
	border-bottom: 1px solid #7D8186;
	border-top: 1px solid #7D8186;
	color:#7D8186;
	font-size: 24px;
	text-align: center;
	width: 60%;
}

.contactForm input:focus,
.contactForm textarea:focus {
	outline: none;
}

.contactForm .half {
	margin: 2% 25%;
}

.contactForm .three_quarters {
	margin: 4% 10%;
}

.contactForm button {
	background-color: #CDC71D;
	border:none;
	clear: both;
	color: #0B1016;
	font-weight: bold;
	font-size: 14px;
	padding: 10px 35px;
	text-decoration: none;
	transition: all 0.3s ease-in-out;
}

.contactForm button:hover {
	background-color: #fff;
	color: #0B1016;
	cursor: pointer;
}

#sitefooter {
	background: #000;
	padding: 10px 0;
	width: 100%;
}

#sitefooter p {
	color:  #7e8287;
	text-align: center;
}
